@page "/produtos"
@inherits ProdutosBehind

<PageTitle>Index</PageTitle>

<Alert @ref="Alert"></Alert>

<Modal @ref="Modal">
	<Header>
		<h5>@Title</h5>
	</Header>
	<Body>
		<div class="row">
			<EditForm Model="@Produtos" OnValidSubmit="Salvar">
				<DataAnnotationsValidator />
				<div>
					<label class="form-label">Nome</label>
					<div class="input-group">
						<InputText class="form-control" @bind-Value="Produtos.Nome" />
						<button type="submit" class="btn btn-primary" @onclick="() => Modal.Close()">Salvar</button>
						<button type="button" class="btn btn-danger" @onclick="() => Modal.Close()">Cancelar</button>
					</div>
					<ValidationMessage For="@(() => Produtos.Nome)" />
				</div>
			</EditForm>
		</div>
	</Body>
</Modal>

<div class="row">
	<button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="PrepararModalParaSalvar">Novo Cadastro</button>
</div>

<br/>
<br/>
<br/>

<div class="row">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Nome</th>
				<th scope="col">Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ListaProdutos)
			{
				<tr>
					<td>@item.Nome</td>
					<td>
						<button class="btn alert-danger" @onclick="async () => await Excluir(item.Id)">Excluir</button>
						<button class="btn alert-success" @onclick="() => AtualizarObjetoParaEdicao(item)">Editar</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
